/*
!/docker/
!/quantanalyst/
!/nginx

!/requierments.txt

database01_env
*.pyc
.env
node_modules/
*.swp
xx*
*test*
package-lock.json
/home/migrations/
/staticfiles/django_tinymce/
/staticfiles/ckeditor/
./.ropeproject
