@import 'mixins.sass'

footer
	@include grid_container
	background-color: rgba(199, 20, 30, .1)
	height: 35px

	& .grid_row
		@include clearfix
		background-color: rgba(19, 20, 30, .4)
		margin: 0px auto
		max-width: 1200px
		height: 100%
		text-align: center

		& .footer_entry
			background-color: rgba(9, 120, 30, .4)
			margin: 0px
			width: 60px
			max-width: 100px
			height: 100%
			line-height: 35px
			font-size: 0.8em
			display: inline-block

