
@import 'mixins.sass'

header
	@include grid_container
	background-color: rgba(khaki, 0.3)
	height: 150px


	#container-logo
		// background-color: rgba(blue, 0.3)
		height: 50px
		padding: 30px 30px 0px 0px
		text-align: right
		float: right

		#logo-title
			margin: 0px

		#logo-subtitle
			color: cyan
			margin: 0px


	#container-logo-offset
		background-color: rgba(red, 0.3)
		float: right
		height: 50px

	@include phone
		#container-logo
			width: percentage(12/12)

	@include tablet
		#container-logo
			width: percentage(12/12)
		#container-logo-offset
			width: percentage(0/12)

	@include tablet-xl
		#container-logo
			width: percentage(4/12)
		#container-logo-offset
			width: percentage(0/12)

	@include desktop
		#container-logo
			width: percentage(5/12)
		#container-logo-offset
			width: percentage(0/12)

