
@import 'mixins.sass'

header
	@include grid_container
	background-color: rgba(khaki, 0.3)
	height: 150px

	@media (min-width: 1200px)
		.container-logo
			width: percentage(8/12)

	@media (min-width: 900px)
		.container-logo
			width: percentage(1/12)

	.container-logo
		background-color: rgba(crimson, 0.3)
		padding: 30px 30px
		text-align: right
		float: right

		#logo-title
			margin: 0px
		
		#logo-subtitle
			color: cyan
			margin: 0px


	.container-logo-offset
		background-color: red
		height: 10px
		float: right


