
@import 'mixins.sass'

main
	@include grid_container
	height: 1500px

	#navigation
		background-color: green
		height: 500px
		float: left


	.content
		background-color: yellow
		height: 500px
		float: right


	@include phone
		#navigation
			display: none
		.content
			width: percentage(6/12)

	@include tablet
		#navigation
			width: percentage(2/12)
		.content
			width: percentage(6/12)

	@include tablet-xl
		#navigation
			width: percentage(2/12)
		.content
			width: percentage(6/12)

	@include desktop
		#navigation
			width: percentage(2/12)
		.content
			width: percentage(6/12)

