
@import 'mixins.sass'

main
	@include grid_container
	height: 1500px


@import 'navigation_desktop_tablet.sass'

@import 'navigation_phone.sass'


.content
	background-color: rgba(yellow, 0.4)
	padding: 20px
	height: 500px
	float: right
	ul
		list-style-type: none
		li
			line-height: 1.5em

	@include phone
  	width: percentage(12/12)

	@include tablet
  	width: percentage(9.5/12)

	@include tablet-xl
  	width: percentage(10/12)

	@include desktop
  	width: percentage(10/12)

