
@import 'mixins.sass'

main
	@include grid_container
	background-color: rgba(177, 88, 21, 0.5)
	height: 800px

	#navigation
		background-color: rgba(77, 88, 21, 0.5)
		height: 100px
		padding: 0px 50px 0px 0px
		float: left

		ul
			list-style-type: none
			text-align: right
			line-height: 1.5em
		
		.menu_item
			display: none
			li:first-child
				a
					color: cyan

		ul#blog
			@extend .menu_item

		ul#data
			@extend .menu_item

		ul#finance
			@extend .menu_item

		@media (max-width: 599px)
			width: percentage(12/12)
			display: none

		@media (min-width: 600px)
			width: percentage(3/12)

		@media (min-width: 900px)
			width: percentage(2/12)

		@media (min-width: 1200px)
			width: percentage(2/12)

	#navigation_mobile
		display: none
		@media (max-width: 599px)
			width: percentage(12/12)
			display: block

			ul#blog_mobile
				li:first-child
					a
						color: cyan

	article
		background-color: rgba(37, 18, 221, 0.5)
		height: 100px
		float: right

		@media (max-width: 599px)
			width: percentage(12/12)

		@media (min-width: 600px)
			width: percentage(9/12)

		@media (min-width: 900px)
			width: percentage(9/12)
			float: left

		@media (min-width: 1200px)
			width: percentage(9/12)
			float: left




	

