@import 'mixins.sass'
@import 'desktop'
@import 'tablet_xl.sass'
@import 'tablet.sass'
@import 'phone.sass'

#menu

  @include phone
    width: percentage(12/12)
    @include navigation_phone

  @include tablet
    width: percentage(12/12)
    @include navigation_tablet

  @include tablet-xl
    width: percentage(2.2/12)
    @include navigation_tablet_xl

  @include desktop
    width: percentage(2/12)
    @include navigation_desktop
