
@mixin grid_container
	width: 100%
	max-width: 1200px
	margin: 0px auto

	& .grid_row
		@include clearfix


@mixin clearfix
	&:after
		display: table
		content: ""
		clear: both


// screen resolutions
$-phone: 599px
$-tablet: 600px
$-tablet-xl: 900px
$-desktop: 1200px

@mixin phone
	@media (max-width: #{$-phone})
		@content

@mixin tablet
	@media (min-width: #{$-tablet})
		@content

@mixin tablet-xl
	@media (min-width: #{$-tablet-xl})
		@content

@mixin desktop
	@media (min-width: #{$-desktop})
		@content
