@import 'mixins.sass'

@mixin navigation_tablet
  height: 130px
  .menu_tablet
    padding: 20px 0px 0px 30px
    list-style-type: none
    li
      text-align: left
      width: percentage(1/3)
      float: left
