@import 'mixins.sass'


#navigation-phone
  height: 200px
  display: none

  ul
    list-style-type: none
    li
      text-align: right
      a
        line-height: 1.7em
        &:hover
          color: cyan

  @include phone
    width: percentage(12/12)
    display: none
