@import 'mixins.sass'

@mixin navigation_phone
  height: 10px
  ul
    padding: 10px
    li
      text-align: center
      a
        line-height: 1.7em
        &:hover
          color: cyan
  #menu
      display: block
      text-align: center

  .phone_screen
    position: fixed
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
    
