@import 'mixins.sass'


#navigation-tablet
  height: 200px
  display: none

  ul
    list-style-type: none
    li
      text-align: right
      a
        line-height: 1.7em
        &:hover
          color: cyan


  @include tablet
    width: percentage(12/12)
    display: block
