@import 'mixins.sass'
@import 'navigation_phone'
@import 'navigation_tablet.sass'



#navigation_desktop_tablet
  // background-color: green
  height: 500px
  float: left


  ul
    padding: 20px 20px 20px 0px
    list-style-type: none
    li
        text-align: right
        a
          line-height: 1.7em
          font-size: 1.0em
          &:hover
            color: cyan

  #menu
      display: none


  @include phone
    display: block
    width: percentage(12/12)
    @include navigation_phone

  @include tablet
    display: block
    width: percentage(12/12)
    @include navigation_tablet

  @include tablet-xl
    width: percentage(2.4/12)

  @include desktop
    width: percentage(2/12)
