@import 'mixins.sass'

@mixin navigation_tablet_xl
  height: 500px
  float: left
  ul
    padding: 20px 20px 20px 0px
    li
      text-align: right
      line-height: 2.0em


@mixin content_tablet_xl
  p:first-child
    padding: 0px
    line-height: 0em
    font-size: 0.8em
