{% load staticfiles %}
!!! 5

html
	{% include "head.pug" %}

	body
		{% include "header.pug" %}
		
		main
			div(class="grid_row")	
				// navigation desktop/tablet => 600px
				div(id="menu") 
					li= "Home"
					a(id="menu_phone")= "Menu"
					{% block navigation %}
					{% endblock navigation %}


				div(id="inhalt", class="content")
					{% block content %}
					{% endblock content %}

		{% include "footer.pug" %}

		script(src="{% static 'quantanalyst.js' %}")
