{% load staticfiles %}

head
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title= "quantanalyst.ch"
	link(href="{% static 'quantanalyst.css' %}", rel="stylesheet")
	script(src="{% static 'd3.v5.min.js' %}")
	script(src="{% static 'd3-selection-multi.v1.min.js' %}")
	script(src="{% static 'axios.min.js' %}")
	script(src="{% static 'MathJax.js' %}")
