doctype

head
	title="quantanalyst"
	link(href="normalize.css", rel="stylesheet")
	link(href="quantanalyst.css", rel="stylesheet")

body
	h1="Quantanalyst.ch"
	form
		input(type="text", placeholder="something")
