{% load staticfiles %}
!!! 5

html
	{% include "head.pug" %}

	body
		{% include "header.pug" %}
		
		main
			div(class="grid_row")	
				// navigation desktop/tablet => 600px
				div(id="navigation_desktop_tablet") 
					{% block navigaton_desktop_tablet %}
					{% endblock navigaton_desktop_tablet %}

				// navigation phone <= 599px
				div(id="navigation-phone")
					{% block navigation_phone %}
					{% endblock navigation_phone %}

				div(id="inhalt", class="content")
					{% block content %}
					{% endblock content %}

		{% include "footer.pug" %}

		script(src="{% static 'js/production/quantanalyst.js' %}")

