{% load staticfiles %}
!!! 5

html

	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= "quantanalyst.ch"
		link(href="{% static 'css/production/quantanalyst.css' %}", rel="stylesheet")
		script(src='http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML')
		script(src='https://d3js.org/d3.v5.min.js')
		script(src='https://d3js.org/d3-selection-multi.v1.min.js')
		script(src='https://unpkg.com/axios/dist/axios.min.js')

	body
		header
			div(class="grid_row")	
				div(id="container-logo-offset")
				div(id="container-logo")
					h1(id="logo-title")= "Quantanalyst.ch"
					h5(id="logo-subtitle")= "Data Science in Finance."
		
		main
			div(class="grid_row")	

				//-  navigation desktop/tablet => 600px
				div(id="navigation_desktop_tablet") 
					{% block navigaton_desktop_tablet %}
					{% endblock navigaton_desktop_tablet %}
							
				//-  navigation phone <= 599px
				//-  div(id="navigation-phone")
				//-  	ul
				//-  		for mnuitem in menu_list
				//-  			li: a(href="{{ mnuitem.menu_title }}") {{ mnuitem.menu_title }}

				div(id="inhalt", class="content")
					{% block content %}
					{% endblock content %}


		footer
			div(class="grid_row")
				footer_entries = ['GitHub', 'About', 'Copyright', 'Links']
				each footer_entry in footer_entries
					div(class="footer_entry")
						a(href="https://github.com/labryga", target="_blank")= footer_entry

		script(src="{% static 'js/production/quantanalyst.js' %}")

