{% extends "base.pug" %}

{% block navigation %}
for mnuitem in menu_list
	li: a(href="{{ mnuitem.menu_title | lower }}") {{ mnuitem.menu_title }}
{% endblock navigation %}


{% block content %}
p
	| {{ object.datum | safe }}
p
	| {{ object.titel | safe }} 

p
	| {{ object.eintrag | safe }} 
{% endblock content %}
