{% extends "baseAjax.pug" %}


{% block navigaton_desktop_tablet %}
ul
	for mnuitem in menu_list
		li: a(href="{{ mnuitem.menu_title | lower }}") {{ mnuitem.menu_title }}
{% endblock navigaton_desktop_tablet %}


{% block navigation_phone %}
ul
	for mnuitem in menu_list
		li: a(href="{{ mnuitem.menu_title | lower }}") {{ mnuitem.menu_title }}
{% endblock navigation_phone %}


{% block content %}
for blogitem in object_list
	li: a(href="modellsimulation/{{ blogitem.slug }}") {{ blogitem.titel | striptags }}
{% endblock content %}

