
footer
	div(class="grid_row")
		footer_entries = ['GitHub', 'About', 'Copyright', 'Links']
		each footer_entry in footer_entries
			div(class="footer_entry")
				a(href="https://github.com/labryga", target="_blank")= footer_entry
