!!! 5

head
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title= "quantanalyst.ch"
	link(href="quantanalyst.css", rel="stylesheet")

body

	header(class="container")
		div(class="row")	
			div(class="title")
			div(class="subtitle")
	
	main(class="container")
		div(class="row")	
			div(class="navigation")
			div(class="article")
		

	
	footer
