- load static
!!! 5
html(lang="en")
	head
		title gridpage

	body
		h1.title Das ist hier was
		div(class="example", id="idexample")
			items = [x for x in range(10)]
			for item in items
				div(class="exampleclass")
					w = [i for i in range(10)]
					each x in w
						div(class="xxx")
		block main
			| hier etwas

		script(src="quantanalyst.js", type="text/javascript")

