{% load staticfiles %}

head
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title= "quantanalyst.ch"
	link(href="{% static 'css/production/quantanalyst.css' %}", rel="stylesheet")
	script(src="{% static 'js/production/d3.v5.min.js' %}")
	script(src="{% static 'js/production/d3-selection-multi.v1.min.js' %}")
	script(src="{% static 'js/production/axios.min.js' %}")

	script(src='http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML')
