{% extends "base.pug" %}

	
{% block article %}

<<<<<<< HEAD
body
	div(id="container")
		div(id="container-logo")
			h1(id="logo-titel", onclick="MyFunction(event)")= "Quantanalyst.ch"
			h5(id="logo-untertitel")= "Data Science in Finance."
=======
div(id="chart")

div(id="diagram")

div(id="schleife")

{% endblock article %}
>>>>>>> ab1dcdb3a887d703296b1972d04e3f9a78e34441

