!!! 5

head
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title= "quantanalyst.ch"
	link(href="quantanalyst.min.css", rel="stylesheet")

body
	div(id="container")
		div(id="container-logo")
			h1(id="logo-titel", onclick="MyFunction(event)")= "Quantanalyst.ch"
			h5(id="logo-untertitel")= "Data Science in Finance."

	script(src="quantanalyst.min.js")
