{% extends "base.pug" %}

{% block navigaton_desktop_tablet %}
ul
	li: a(href="modellsimulation")= "modellsimulation"
		for mnuitem in menu_list
			li: a(href="{{ mnuitem.menu_title | lower }}") {{ mnuitem.menu_title }}
{% endblock navigaton_desktop_tablet %}
