{% extends "base.pug" %}

{% block navigaton_desktop_tablet %}
for mnuitem in menu_list
	li(style="display: none;"): a(href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ mnuitem.menu_title | lower }}") {{ mnuitem.menu_title }}
{% endblock navigaton_desktop_tablet %}
