
@mixin container
	width: 100%
	max-width: 1200px
	margin: 0px auto
	& .row
		&:before,
		&:after
			content: ""
		& div, article, nav
			height: 15px
			background-color: rgba(101,201,211,0.5)
			border: 1px dashed mintcream
